/* ==========================================================================
   header
   ========================================================================== */

#galleryIntro {
	position: relative;
	background: url('../img/frontGallery.jpg') no-repeat center;
	background-size: cover;
	padding: 30% 0 0 0;
	
}

#gradient {
	display: none;
}

section#mainTitle {
	text-align: center;
	background: $brand-orange url('../img/wave.png') repeat repeat;
	padding: 15px 0;

	h1 {
		font-family: $font-main-title;
		font-size: 3em;
		line-height: .8em;
		color: #fff;
		margin-bottom: 5px;
	}

	h2 {
		line-height: 1em;
		font-size: 1em;
	}
}